In [143]:
import pandas as pd
import requests
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
full_table=pd.DataFrame()
for i in range(1,4):
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;page={i};template=results;type=team"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    full_table=pd.concat([stats_table, full_table], axis=0, ignore_index=True)

In [144]:
full_table

,Team,Span,Mat,Won,Lost,Tied,NR,W/L,Ave,RPO,Inns,HS,LS,Unnamed: 13
0,Mali,2022-2023,10,0,8,0,2,0.000,6.29,3.96,9,112,30,NaN
1,Mongolia,2023-2024,9,0,8,0,1,0.000,4.45,2.80,9,75,12,NaN
2,South Korea,2022-2022,4,0,4,0,0,0.000,13.28,5.75,4,170,66,NaN
3,Vanuatu,2019-2024,34,16,18,0,0,0.888,18.59,6.85,34,223,77,NaN
4,Botswana,2019-2023,39,15,23,0,1,0.652,17.69,6.37,39,205,46,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Luxembourg,2019-2024,45,17,28,0,0,0.607,18.91,7.10,45,191,80,NaN
99,Singapore,2019-2024,48,17,30,1,0,0.566,20.08,7.63,48,239,69,NaN
100,U.S.A.,2019-2024,34,17,14,2,1,1.214,23.78,7.73,34,230,92,NaN
101,Denmark,2019-2024,38,16,20,0,2,0.800,18.26,6.82,37,256,89,NaN
102,Norway,2019-2024,32,16,16,0,0,1.000,17.46,6.80,32,186,69,NaN

In [145]:
full_table.replace('-',0,inplace=True)

In [146]:
full_table=full_table.drop("Unnamed: 13",axis=1)
full_table

,Team,Span,Mat,Won,Lost,Tied,NR,W/L,Ave,RPO,Inns,HS,LS
0,Mali,2022-2023,10,0,8,0,2,0.000,6.29,3.96,9,112,30
1,Mongolia,2023-2024,9,0,8,0,1,0.000,4.45,2.80,9,75,12
2,South Korea,2022-2022,4,0,4,0,0,0.000,13.28,5.75,4,170,66
3,Vanuatu,2019-2024,34,16,18,0,0,0.888,18.59,6.85,34,223,77
4,Botswana,2019-2023,39,15,23,0,1,0.652,17.69,6.37,39,205,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Luxembourg,2019-2024,45,17,28,0,0,0.607,18.91,7.10,45,191,80
99,Singapore,2019-2024,48,17,30,1,0,0.566,20.08,7.63,48,239,69
100,U.S.A.,2019-2024,34,17,14,2,1,1.214,23.78,7.73,34,230,92
101,Denmark,2019-2024,38,16,20,0,2,0.800,18.26,6.82,37,256,89
102,Norway,2019-2024,32,16,16,0,0,1.000,17.46,6.80,32,186,69

In [147]:
full_table['Mat']=full_table["Mat"].astype("int")
full_table['Won']=full_table["Won"].astype("int")
full_table['Lost']=full_table["Lost"].astype("int")
full_table['Tied']=full_table["Tied"].astype("int")
full_table['NR']=full_table["NR"].astype("int")
full_table['W/L']=full_table["W/L"].astype("float")
full_table['Ave']=full_table["Ave"].astype("float")
full_table['RPO']=full_table["RPO"].astype("float")
full_table['Inns']=full_table["Inns"].astype("int")
full_table['HS']=full_table["HS"].astype("int")
full_table['LS']=full_table["LS"].astype("int")

In [148]:
full_table=pl.from_pandas(full_table)
full_table

shape: (103, 13)
┌─────────────┬───────────┬─────┬─────┬───┬──────┬──────┬─────┬─────┐
│ Team        ┆ Span      ┆ Mat ┆ Won ┆ … ┆ RPO  ┆ Inns ┆ HS  ┆ LS  │
│ ---         ┆ ---       ┆ --- ┆ --- ┆   ┆ ---  ┆ ---  ┆ --- ┆ --- │
│ str         ┆ str       ┆ i32 ┆ i32 ┆   ┆ f64  ┆ i32  ┆ i32 ┆ i32 │
╞═════════════╪═══════════╪═════╪═════╪═══╪══════╪══════╪═════╪═════╡
│ Mali        ┆ 2022-2023 ┆ 10  ┆ 0   ┆ … ┆ 3.96 ┆ 9    ┆ 112 ┆ 30  │
│ Mongolia    ┆ 2023-2024 ┆ 9   ┆ 0   ┆ … ┆ 2.8  ┆ 9    ┆ 75  ┆ 12  │
│ South Korea ┆ 2022-2022 ┆ 4   ┆ 0   ┆ … ┆ 5.75 ┆ 4    ┆ 170 ┆ 66  │
│ Vanuatu     ┆ 2019-2024 ┆ 34  ┆ 16  ┆ … ┆ 6.85 ┆ 34   ┆ 223 ┆ 77  │
│ Botswana    ┆ 2019-2023 ┆ 39  ┆ 15  ┆ … ┆ 6.37 ┆ 39   ┆ 205 ┆ 46  │
│ …           ┆ …         ┆ …   ┆ …   ┆ … ┆ …    ┆ …    ┆ …   ┆ …   │
│ Luxembourg  ┆ 2019-2024 ┆ 45  ┆ 17  ┆ … ┆ 7.1  ┆ 45   ┆ 191 ┆ 80  │
│ Singapore   ┆ 2019-2024 ┆ 48  ┆ 17  ┆ … ┆ 7.63 ┆ 48   ┆ 239 ┆ 69  │
│ U.S.A.      ┆ 2019-2024 ┆ 34  ┆ 17  ┆ … ┆ 7.73 ┆ 34   ┆ 230 ┆ 92  │
│ Denmark     ┆ 2019-2024 ┆ 38  ┆ 16  ┆ … ┆ 6.82 ┆ 37   ┆ 256 ┆ 89  │
│ Norway      ┆ 2019-2024 ┆ 32  ┆ 16  ┆ … ┆ 6.8  ┆ 32   ┆ 186 ┆ 69  │
└─────────────┴───────────┴─────┴─────┴───┴──────┴──────┴─────┴─────┘

In [105]:
 numeric_columns_with_asterisk = ['HS', 'Runs',"Bat Av"]  # add other columns if necessary
for col in numeric_columns_with_asterisk:
    full_table[col] = full_table[col].astype(str).str.replace('*', '', regex=False).astype('float')

In [142]:
full_table.write_parquet('../historical_data/teams_bowling.parquet')

In [ ]:
import pandas as pd
import requests

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
full_table=pd.DataFrame()
for i in range(1,81):
    url = f"https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;page={i};template=results;type=fielding"
    response = requests.get(url, headers=headers)
    response.raise_for_status()  # Raise an exception for HTTP errors
    # Read HTML with pandas
    tables = pd.read_html(response.text, flavor='bs4')  # or use flavor='html5lib'
    stats_table = tables[2]
    full_table=pd.concat([stats_table, full_table], axis=0, ignore_index=True)