In [1]:
import pandas as pd

In [38]:
deliveries = pd.read_parquet(r'C:\Users\amadh\OneDrive\Desktop\Project Series\Cricket-Prediction\historical_data\cricsheetSource\deliveries.parquet')
match_players = pd.read_parquet(r'C:\Users\amadh\OneDrive\Desktop\Project Series\Cricket-Prediction\historical_data\cricsheetSource\match_players.parquet')
matches = pd.read_parquet(r'C:\Users\amadh\OneDrive\Desktop\Project Series\Cricket-Prediction\historical_data\cricsheetSource\matches.parquet')

In [76]:
match_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3463 entries, 0 to 3462
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   team1_player1    3463 non-null   object
 1   team1_player2    3463 non-null   object
 2   team1_player3    3463 non-null   object
 3   team1_player4    3463 non-null   object
 4   team1_player5    3463 non-null   object
 5   team1_player6    3463 non-null   object
 6   team1_player7    3463 non-null   object
 7   team1_player8    3463 non-null   object
 8   team1_player9    3463 non-null   object
 9   team1_player10   3463 non-null   object
 10  team1_player11   3463 non-null   object
 11  team2_players1   3463 non-null   object
 12  team2_players2   3463 non-null   object
 13  team2_players3   3463 non-null   object
 14  team2_players4   3463 non-null   object
 15  team2_players5   3463 non-null   object
 16  team2_players6   3463 non-null   object
 17  team2_players7   3463 non-null   object
 18  team2_players8   3463 non-null   object
 19  team2_players9   3463 non-null   object
 20  team2_players10  3463 non-null   object
 21  team2_players11  3463 non-null   object
 22  match_id         3463 non-null   int64
dtypes: int64(1), object(22)
memory usage: 622.4+ KB

In [79]:
matches.head()

,team1,team2,gender,season,date,venue,city,toss_winner,toss_decision,winner,match_id,result
0,Australia,Sri Lanka,male,2016/17,2017/02/17,Melbourne Cricket Ground,None,Sri Lanka,field,Sri Lanka,1001349,0
1,Australia,Sri Lanka,male,2016/17,2017/02/19,"Simonds Stadium, South Geelong",Victoria,Sri Lanka,field,Sri Lanka,1001351,0
2,Australia,Sri Lanka,male,2016/17,2017/02/22,Adelaide Oval,None,Sri Lanka,field,Australia,1001353,1
3,Ireland,Hong Kong,male,2016,2016/09/05,"Bready Cricket Club, Magheramason",Londonderry,Hong Kong,bat,Hong Kong,1004729,0
4,Zimbabwe,India,male,2016,2016/06/18,Harare Sports Club,None,India,field,Zimbabwe,1007655,1

In [78]:
#print(deliveries.head())
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794009 entries, 0 to 794008
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                794009 non-null  int64
 1   season                  794009 non-null  object
 2   start_date              794009 non-null  object
 3   venue                   794009 non-null  object
 4   innings                 794009 non-null  int64
 5   ball                    794009 non-null  float64
 6   batting_team            794009 non-null  object
 7   bowling_team            794009 non-null  object
 8   striker                 794009 non-null  object
 9   non_striker             794009 non-null  object
 10  bowler                  794009 non-null  object
 11  runs_off_bat            794009 non-null  int64
 12  extras                  794009 non-null  int64
 13  wides                   32436 non-null   float64
 14  noballs                 4139 non-null    object
 15  byes                    3409 non-null    float64
 16  legbyes                 10424 non-null   float64
 17  penalty                 14 non-null      object
 18  wicket_type             43775 non-null   object
 19  player_dismissed        43775 non-null   object
 20  other_wicket_type       1 non-null       object
 21  other_player_dismissed  1 non-null       object
dtypes: float64(4), int64(4), object(14)
memory usage: 133.3+ MB

In [40]:
print(match_players.columns)

Index(['team1_player1', 'team1_player2', 'team1_player3', 'team1_player4',
       'team1_player5', 'team1_player6', 'team1_player7', 'team1_player8',
       'team1_player9', 'team1_player10', 'team1_player11', 'team2_players1',
       'team2_players2', 'team2_players3', 'team2_players4', 'team2_players5',
       'team2_players6', 'team2_players7', 'team2_players8', 'team2_players9',
       'team2_players10', 'team2_players11', 'match_id'],
      dtype='object')

In [41]:
print(matches.columns)

Index(['team1', 'team2', 'gender', 'season', 'date', 'venue', 'city',
       'toss_winner', 'toss_decision', 'winner', 'match_id'],
      dtype='object')

In [49]:
# Merge deliveries with matches
merged_data = pd.merge(deliveries, matches, on='match_id', suffixes=('_delivery', '_match'))

In [50]:
# Calculate cumulative runs
merged_data['cumulative_runs'] = merged_data.groupby(['match_id', 'innings'])['runs_off_bat'].cumsum() + merged_data.groupby(['match_id', 'innings'])['extras'].cumsum()

In [51]:
# Ensure player_dismissed is a boolean indicating whether a player was dismissed
merged_data['is_wicket'] = merged_data['player_dismissed'].notnull().astype(int)

In [52]:
# Calculate cumulative wickets
merged_data['cumulative_wickets'] = merged_data.groupby(['match_id', 'innings'])['is_wicket'].transform('cumsum')

In [53]:
# Calculate current run rate
merged_data['current_run_rate'] = merged_data['cumulative_runs'] / (merged_data['ball'] / 6 + (merged_data['ball'] % 6) / 6)

In [54]:
# Calculate target runs from the first innings
first_innings_runs = merged_data[merged_data['innings'] == 1].groupby('match_id')['cumulative_runs'].max().reset_index()
first_innings_runs.columns = ['match_id', 'target_runs']
merged_data = pd.merge(merged_data, first_innings_runs, on='match_id', how='left')

In [55]:
# Calculate required run rate
merged_data['required_run_rate'] = (merged_data['target_runs'] - merged_data['cumulative_runs']) / (20 - (merged_data['ball'] / 6 + (merged_data['ball'] % 6) / 6))

In [56]:
# Calculate player statistics
# Batting statistics
player_runs = deliveries.groupby('striker')['runs_off_bat'].sum().reset_index()
player_runs.columns = ['player_id', 'total_runs']
player_balls_faced = deliveries[deliveries['wides'] == 0].groupby('striker').size().reset_index(name='balls_faced')
player_stats = pd.merge(player_runs, player_balls_faced, left_on='player_id', right_on='striker')
player_stats['strike_rate'] = player_stats['total_runs'] / player_stats['balls_faced'] * 100

In [57]:
bowler_runs_conceded = deliveries.groupby('bowler')['runs_off_bat'].sum().reset_index()
bowler_runs_conceded.columns = ['player_id', 'runs_conceded']
balls_bowled = deliveries[(deliveries['wides'] == 0) & (deliveries['noballs'] == 0)].groupby('bowler').size().reset_index(name='balls_bowled')
bowler_stats = pd.merge(bowler_runs_conceded, balls_bowled, left_on='player_id', right_on='bowler')
bowler_stats['economy_rate'] = bowler_stats['runs_conceded'] / (bowler_stats['balls_bowled'] / 6)

In [58]:
# Combine batting and bowling statistics
player_stats = pd.merge(player_stats, bowler_stats, on='player_id', how='outer', suffixes=('_batting', '_bowling'))

In [59]:
# Rename columns to avoid conflicts during merge
player_stats_renamed = player_stats.rename(columns={
    'total_runs': 'total_runs_batting',
    'balls_faced': 'balls_faced_batting',
    'strike_rate': 'strike_rate_batting',
    'runs_conceded': 'runs_conceded_bowling',
    'balls_bowled': 'balls_bowled_bowling',
    'economy_rate': 'economy_rate_bowling'
})

In [60]:
for col in match_players.columns:
    if col != 'match_id':
        merged_data = pd.merge(merged_data, match_players[['match_id', col]], on='match_id', how='left')
        merged_data = pd.merge(
            merged_data, 
            player_stats_renamed, 
            left_on=col, 
            right_on='player_id', 
            how='left', 
            suffixes=('', f'_{col}')
        )
        merged_data = merged_data.drop(columns=['player_id'])

In [61]:
# Add match outcome as the target variable
matches['result'] = matches.apply(lambda x: 1 if x['winner'] == x['team1'] else 0, axis=1)
merged_data = pd.merge(merged_data, matches[['match_id', 'result']], on='match_id')

In [62]:
# Select relevant features and create the final dataset
features = ['cumulative_runs', 'cumulative_wickets', 'current_run_rate', 'required_run_rate', 'total_runs_batting', 'strike_rate_batting', 'runs_conceded_bowling', 'economy_rate_bowling']
target = 'result'

In [63]:
final_dataset = merged_data[features + [target]]

In [65]:
# Save the final dataset
final_dataset.to_csv('final_dataset_with_player_stats.csv', index=False)

In [66]:
# Save the final dataset as a Parquet file
final_dataset.to_parquet('Parquet_final_dataset_with_player_stats.parquet', index=False)

In [67]:
df = pd.read_csv(r'C:\Users\amadh\OneDrive\Desktop\Project Series\Cricket-Prediction\mainBooks\final_dataset_with_player_stats.csv')
df

,cumulative_runs,cumulative_wickets,current_run_rate,required_run_rate,total_runs_batting,strike_rate_batting,runs_conceded_bowling,economy_rate_bowling,result
0,0,0,0.000000,8.414023,NaN,NaN,NaN,NaN,0
1,0,0,0.000000,8.428094,NaN,NaN,NaN,NaN,0
2,1,0,10.000000,8.391960,NaN,NaN,NaN,NaN,0
3,3,0,22.500000,8.305369,NaN,NaN,NaN,NaN,0
4,3,0,18.000000,8.319328,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
794004,121,6,32.702703,0.429448,NaN,NaN,NaN,NaN,0
794005,124,6,33.214286,0.245902,NaN,NaN,NaN,NaN,0
794006,124,6,32.920354,0.246407,NaN,NaN,NaN,NaN,0
794007,124,6,32.631579,0.246914,NaN,NaN,NaN,NaN,0
794008,130,6,33.913043,-0.123711,NaN,NaN,NaN,NaN,0