In [157]:
import os
import glob
import polars as pl

# Specify the directory where your CSV files are located
directory = r'D:\github\Cricket-Prediction\historical_data\t20s_csv2'

# Use glob to find all CSV files in the specified directory
info_files = glob.glob(os.path.join(directory, '*_info.csv'))
all_files = glob.glob(os.path.join(directory,'*.csv'))
delivery_files = [file for file in all_files if '_info' not in file]

matches=[]
deliveries=[]
# Print the list of CSV files
for info_file in info_files:
    matches.append(info_file.split('\\')[-1])
for delivery in delivery_files:
    if '_info' not in delivery:
        deliveries.append(delivery.split('\\')[-1])

In [158]:
import polars as pl
import os

# Initialize an empty list to hold the DataFrames and another for injured matches
dataframes = []
injured_matches = []

# Loop through the matches list
for match in matches:
    # Extract the match_id from the filename (e.g., '1001349_info.csv' -> '1001349')
    match_id = match.split('_')[0]
    
    # Construct the full file path
    file_path = os.path.join(directory, match)
    
    try:
        # Try to load the CSV and rename the columns
        df = pl.read_csv(file_path, skip_rows=43, has_header=False)
        df = df.rename({
            'column_1': 'info',
            'column_2': 'registry',
            'column_3': 'people',
            'column_4': 'player',
            'column_5': 'player_id'
        })
        
        # Add the match_id as a new column to the DataFrame
        df = df.with_columns(pl.lit(match_id).alias('match_id').cast(pl.Int64))
        
        # Append the DataFrame to the list
        dataframes.append(df)
    
    except Exception as e:
        # If an error occurs, print the error and append the match to injured_matches
        injured_matches.append(match)

# Combine all DataFrames into one DataFrame if there are any successful matches
if dataframes:
    playerid_df = pl.concat(dataframes)
    print("Combined DataFrame:")
else:
    print("No valid dataframes to combine.")

# Show the list of files that couldn't be processed
print(f"Injured matches (failed to process): {injured_matches}")

Combined DataFrame:
Injured matches (failed to process): ['1040487_info.csv', '1043991_info.csv', '1072316_info.csv', '1089777_info.csv', '1119501_info.csv', '1144174_info.csv', '1144990_info.csv', '1146723_info.csv', '1146725_info.csv', '1150539_info.csv', '1188622_info.csv', '1216416_info.csv', '1223952_info.csv', '1233954_info.csv', '1233980_info.csv', '1244848_info.csv', '1249207_info.csv', '1260097_info.csv', '1263471_info.csv', '1298154_info.csv', '1298163_info.csv', '1298169_info.csv', '1298170_info.csv', '1322004_info.csv', '1335788_info.csv', '1335790_info.csv', '1335802_info.csv', '1336076_info.csv', '1336080_info.csv', '1338057_info.csv', '1355720_info.csv', '1362817_info.csv', '1377016_info.csv', '1382164_info.csv', '1384634_info.csv', '1387598_info.csv', '1388198_info.csv', '1388204_info.csv', '1388215_info.csv', '1388225_info.csv', '1392803_info.csv', '1415734_info.csv', '1415744_info.csv', '1415750_info.csv', '1415752_info.csv', '1416079_info.csv', '1422808_info.csv', '1425126_info.csv', '1429394_info.csv', '1429396_info.csv', '1434291_info.csv', '251487_info.csv', '356011_info.csv', '387563_info.csv', '412684_info.csv', '412685_info.csv', '412686_info.csv', '527013_info.csv', '533279_info.csv', '567354_info.csv', '573020_info.csv', '682911_info.csv', '682925_info.csv', '685727_info.csv', '730283_info.csv', '895789_info.csv', '951323_info.csv', '951327_info.csv', '951387_info.csv']

In [159]:
playerid_df

shape: (88_362, 6)
┌──────┬──────────┬────────┬─────────────────┬───────────┬──────────┐
│ info ┆ registry ┆ people ┆ player          ┆ player_id ┆ match_id │
│ ---  ┆ ---      ┆ ---    ┆ ---             ┆ ---       ┆ ---      │
│ str  ┆ str      ┆ str    ┆ str             ┆ str       ┆ i64      │
╞══════╪══════════╪════════╪═════════════════╪═══════════╪══════════╡
│ info ┆ registry ┆ people ┆ A Zampa         ┆ 14f96089  ┆ 1001349  │
│ info ┆ registry ┆ people ┆ AJ Finch        ┆ b8d490fd  ┆ 1001349  │
│ info ┆ registry ┆ people ┆ AJ Turner       ┆ ff1e12a0  ┆ 1001349  │
│ info ┆ registry ┆ people ┆ AJ Tye          ┆ 7c7d63a2  ┆ 1001349  │
│ info ┆ registry ┆ people ┆ B Stanlake      ┆ 6834d1f2  ┆ 1001349  │
│ …    ┆ …        ┆ …      ┆ …               ┆ …         ┆ …        │
│ info ┆ registry ┆ people ┆ SMSM Senanayake ┆ 4c4fa80b  ┆ 995469   │
│ info ┆ registry ┆ people ┆ SS Pathirana    ┆ 753c95b9  ┆ 995469   │
│ info ┆ registry ┆ people ┆ TM Dilshan      ┆ 5bdcdb72  ┆ 995469   │
│ info ┆ registry ┆ people ┆ TM Head         ┆ 12b610c2  ┆ 995469   │
│ info ┆ registry ┆ people ┆ UT Khawaja      ┆ 331ea488  ┆ 995469   │
└──────┴──────────┴────────┴─────────────────┴───────────┴──────────┘

In [162]:
import polars as pl
import os

# Path to your data directory
datapath = r'D:\github\Cricket-Prediction\historical_data\t20s_csv2'


# Initialize a list to hold DataFrames
dataframes = []

# Loop through the match files
for match in matches:
    # Extract the match_id from the filename (e.g., '1001349_info.csv' -> '1001349')
    match_id = match.split('_')[0]
    
    # Construct the full file path
    file_path = os.path.join(datapath, match)
    
    try:
        # Read the CSV, skip 21 rows, and take the first 22 rows
        df = pl.read_csv(file_path, truncate_ragged_lines=True, skip_rows=21, has_header=False)[:22]
        
        # Rename the columns (adjust based on your schema)
        df = df.rename({
            'column_1': 'info',
            'column_2': 'registry',
            'column_3': 'people',
            'column_4': 'player',
            # You mentioned 'match_id' should be added, not present in file
        })
        
        # Add the match_id as a new column to the DataFrame
        df = df.with_columns(pl.lit(match_id).alias('match_id').cast(pl.Int64))
        
        # Select only the relevant columns (modify as needed)
        df = df.select(['player', 'people', 'match_id'])
        
        # Append the processed DataFrame to the list
        dataframes.append(df)
    
    except Exception as e:
        # Handle errors during processing
        print(f"Error processing file {match}: {e}")

# Combine all DataFrames if there are any valid ones
if dataframes:
    final_df = pl.concat(dataframes)
    print("Combined DataFrame:")
    print(final_df)
else:
    print("No valid dataframes to combine.")

Combined DataFrame:
shape: (77_704, 3)
┌─────────────────┬───────────┬──────────┐
│ player          ┆ people    ┆ match_id │
│ ---             ┆ ---       ┆ ---      │
│ str             ┆ str       ┆ i64      │
╞═════════════════╪═══════════╪══════════╡
│ AJ Finch        ┆ Australia ┆ 1001349  │
│ M Klinger       ┆ Australia ┆ 1001349  │
│ TM Head         ┆ Australia ┆ 1001349  │
│ MC Henriques    ┆ Australia ┆ 1001349  │
│ AJ Turner       ┆ Australia ┆ 1001349  │
│ …               ┆ …         ┆ …        │
│ NLTC Perera     ┆ Sri Lanka ┆ 995469   │
│ SS Pathirana    ┆ Sri Lanka ┆ 995469   │
│ S Prasanna      ┆ Sri Lanka ┆ 995469   │
│ SMSM Senanayake ┆ Sri Lanka ┆ 995469   │
│ RAS Lakmal      ┆ Sri Lanka ┆ 995469   │
└─────────────────┴───────────┴──────────┘

In [145]:
final_df

shape: (77_704, 3)
┌─────────────────┬───────────┬──────────┐
│ player          ┆ people    ┆ match_id │
│ ---             ┆ ---       ┆ ---      │
│ str             ┆ str       ┆ i64      │
╞═════════════════╪═══════════╪══════════╡
│ AJ Finch        ┆ Australia ┆ 1001349  │
│ M Klinger       ┆ Australia ┆ 1001349  │
│ TM Head         ┆ Australia ┆ 1001349  │
│ MC Henriques    ┆ Australia ┆ 1001349  │
│ AJ Turner       ┆ Australia ┆ 1001349  │
│ …               ┆ …         ┆ …        │
│ NLTC Perera     ┆ Sri Lanka ┆ 995469   │
│ SS Pathirana    ┆ Sri Lanka ┆ 995469   │
│ S Prasanna      ┆ Sri Lanka ┆ 995469   │
│ SMSM Senanayake ┆ Sri Lanka ┆ 995469   │
│ RAS Lakmal      ┆ Sri Lanka ┆ 995469   │
└─────────────────┴───────────┴──────────┘

In [150]:
df = final_df.join(playerid_df, on=['match_id','player'], how='inner').drop('people_right','info').rename({'column_5':'player_id'})
df

shape: (70_430, 5)
┌─────────────────┬───────────┬──────────┬─────────┬───────────┐
│ player          ┆ people    ┆ match_id ┆ country ┆ player_id │
│ ---             ┆ ---       ┆ ---      ┆ ---     ┆ ---       │
│ str             ┆ str       ┆ i64      ┆ str     ┆ str       │
╞═════════════════╪═══════════╪══════════╪═════════╪═══════════╡
│ A Zampa         ┆ Australia ┆ 1001349  ┆ people  ┆ 14f96089  │
│ AJ Finch        ┆ Australia ┆ 1001349  ┆ people  ┆ b8d490fd  │
│ AJ Turner       ┆ Australia ┆ 1001349  ┆ people  ┆ ff1e12a0  │
│ AJ Tye          ┆ Australia ┆ 1001349  ┆ people  ┆ 7c7d63a2  │
│ B Stanlake      ┆ Australia ┆ 1001349  ┆ people  ┆ 6834d1f2  │
│ …               ┆ …         ┆ …        ┆ …       ┆ …         │
│ SMSM Senanayake ┆ Sri Lanka ┆ 995469   ┆ people  ┆ 4c4fa80b  │
│ SS Pathirana    ┆ Sri Lanka ┆ 995469   ┆ people  ┆ 753c95b9  │
│ TM Dilshan      ┆ Sri Lanka ┆ 995469   ┆ people  ┆ 5bdcdb72  │
│ TM Head         ┆ Australia ┆ 995469   ┆ people  ┆ 12b610c2  │
│ UT Khawaja      ┆ Australia ┆ 995469   ┆ people  ┆ 331ea488  │
└─────────────────┴───────────┴──────────┴─────────┴───────────┘

In [156]:
df.drop("match_id").unique()

shape: (5_490, 4)
┌─────────────────┬──────────────┬─────────┬───────────┐
│ player          ┆ people       ┆ country ┆ player_id │
│ ---             ┆ ---          ┆ ---     ┆ ---       │
│ str             ┆ str          ┆ str     ┆ str       │
╞═════════════════╪══════════════╪═════════╪═══════════╡
│ DJG Sammy       ┆ ICC World XI ┆ people  ┆ c03c6200  │
│ Atif Kamal      ┆ Luxembourg   ┆ people  ┆ f8bd71c9  │
│ TR Sadhu        ┆ India        ┆ people  ┆ 25ca0573  │
│ KK Ahmed        ┆ India        ┆ people  ┆ a2f46292  │
│ M Gill          ┆ Canada       ┆ people  ┆ 4cfe9bac  │
│ …               ┆ …            ┆ …       ┆ …         │
│ S Kucuksucu     ┆ Croatia      ┆ people  ┆ fea44a7f  │
│ DJ Vilas        ┆ South Africa ┆ people  ┆ 087210b1  │
│ N Ndouteng      ┆ Cameroon     ┆ people  ┆ 25640e61  │
│ D Staddon       ┆ Brazil       ┆ people  ┆ 4a28527d  │
│ Nyeing Cham Soe ┆ Myanmar      ┆ people  ┆ 45b5ce8d  │
└─────────────────┴──────────────┴─────────┴───────────┘

In [153]:
people = pl.read_csv("../../historical_data/cricsheetSource/people.csv")[['identifier', 'name', 'unique_name','key_cricinfo']].rename({'identifier':'player_id'})
people

shape: (15_372, 4)
┌───────────┬────────────────────┬───────────────────────┬──────────────┐
│ player_id ┆ name               ┆ unique_name           ┆ key_cricinfo │
│ ---       ┆ ---                ┆ ---                   ┆ ---          │
│ str       ┆ str                ┆ str                   ┆ i64          │
╞═══════════╪════════════════════╪═══════════════════════╪══════════════╡
│ b4a23876  ┆ AAA Amsterdam      ┆ AAA Amsterdam         ┆ 772407       │
│ 482762af  ┆ AA Adeoye          ┆ AA Adeoye             ┆ 380588       │
│ 4b0e3049  ┆ AA Alleyne         ┆ AA Alleyne            ┆ 661441       │
│ fd3c5c00  ┆ AAA Patel          ┆ AAA Patel             ┆ 1163136      │
│ bc005f0d  ┆ AAA White          ┆ AAA White             ┆ 474307       │
│ …         ┆ …                  ┆ …                     ┆ …            │
│ ee9bdbc8  ┆ Zulqarnain Haider  ┆ Zulqarnain Haider     ┆ 43860        │
│ 2d46e8ed  ┆ Zulqarnain Haider  ┆ Zulqarnain Haider (2) ┆ 1046641      │
│ b71670a0  ┆ Zulufat Mutoniwase ┆ Zulufat Mutoniwase    ┆ 1380564      │
│ d35c1fc7  ┆ Zumika Azmi        ┆ Zumika Azmi           ┆ 1050037      │
│ 78a3ae4b  ┆ ZXM Vukusic        ┆ ZXM Vukusic           ┆ 1442092      │
└───────────┴────────────────────┴───────────────────────┴──────────────┘

In [154]:
df.join(people, on='player_id', how='inner').drop('player_id')

shape: (70_068, 7)
┌────────────────┬───────────┬──────────┬─────────┬────────────────┬────────────────┬──────────────┐
│ player         ┆ people    ┆ match_id ┆ country ┆ name           ┆ unique_name    ┆ key_cricinfo │
│ ---            ┆ ---       ┆ ---      ┆ ---     ┆ ---            ┆ ---            ┆ ---          │
│ str            ┆ str       ┆ i64      ┆ str     ┆ str            ┆ str            ┆ i64          │
╞════════════════╪═══════════╪══════════╪═════════╪════════════════╪════════════════╪══════════════╡
│ A Zampa        ┆ Australia ┆ 1001349  ┆ people  ┆ A Zampa        ┆ A Zampa        ┆ 379504       │
│ AJ Finch       ┆ Australia ┆ 1001349  ┆ people  ┆ AJ Finch       ┆ AJ Finch       ┆ 5334         │
│ AJ Turner      ┆ Australia ┆ 1001349  ┆ people  ┆ AJ Turner      ┆ AJ Turner      ┆ 500268       │
│ AJ Tye         ┆ Australia ┆ 1001349  ┆ people  ┆ AJ Tye         ┆ AJ Tye         ┆ 459508       │
│ B Stanlake     ┆ Australia ┆ 1001349  ┆ people  ┆ B Stanlake     ┆ B Stanlake     ┆ 533042       │
│ …              ┆ …         ┆ …        ┆ …       ┆ …              ┆ …              ┆ …            │
│ SMSM           ┆ Sri Lanka ┆ 995469   ┆ people  ┆ SMSM           ┆ SMSM           ┆ 273439       │
│ Senanayake     ┆           ┆          ┆         ┆ Senanayake     ┆ Senanayake     ┆              │
│ SS Pathirana   ┆ Sri Lanka ┆ 995469   ┆ people  ┆ SS Pathirana   ┆ SS Pathirana   ┆ 212756       │
│ TM Dilshan     ┆ Sri Lanka ┆ 995469   ┆ people  ┆ TM Dilshan     ┆ TM Dilshan     ┆ 48472        │
│ TM Head        ┆ Australia ┆ 995469   ┆ people  ┆ TM Head        ┆ TM Head        ┆ 530011       │
│ UT Khawaja     ┆ Australia ┆ 995469   ┆ people  ┆ UT Khawaja     ┆ UT Khawaja     ┆ 215155       │
└────────────────┴───────────┴──────────┴─────────┴────────────────┴────────────────┴──────────────┘